SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=

NEXT_PUBLIC_SITE_URL=https://naturebook.earth
NEXT_PUBLIC_SUPPORT_EMAIL=support@naturebook.earth
NEXT_PUBLIC_APP_STORE_URL=
NEXT_PUBLIC_POSTHOG_API_KEY=

SUPABASE_PUBLIC_VIEWER_ID=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
